<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include "base-components/bootstrap.html.twig" %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "base-components/top-navbar.html.twig" %}
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
